h2 {
  color: rgb(204, 47, 99);
  /* background-color: #f1b2c7; */
  text-align: center;
  font-weight: normal;
  text-decoration: #f1b2c7 underline wavy;
}

button {
  color: cyan;
  background-color: grey;
}

p {
  color: purple;
  font-size: 18px;
  line-height: 30px;
  /* Always use fonts that are available in most computers */
  font-family: monospace;
}
