section {
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba {
    width: 50%;
    height: 50%;
    /* 'rgba' only applies to the background color only*/
    background-color: rgba(255, 255, 255, 0.5);
}

#opacity {
    width: 50%;
    height: 50%;
    background-color: white;
    /* 'opacity' is similar to 'rgba' but it affects the whole element */
    opacity: 0.5;
    /* Position */
}